body{
    overflow-x: hidden;
}

/* HEADER */
/* Header sobre el resto de elementos, ancho maximo */
#Header{
    width: 100%;
}

/* Header transparente */
.navbar{
    background-color: rgba(0,0,0,0.0)
}

/* Links negros y sin subrayado */
.navbar .navbar-nav .nav-link a{
    color: black;
    text-decoration: none;
}

.dropdown .dropdown-item a{
    color: black;
    text-decoration: none;
}

/* Dropdown a la derecha */
.dropdown{
    float: right;
}

/* Mover el pop up del dropdown para que no se salga de la pantalla */
.dropdown-menu[data-bs-popper]{
    left: -95px !important;
}

/* HOME */

/* Enviar atras al Banner*/
.z-index-1{
    z-index: -1;
}

.vh-40{
    height: 40vh;
}

.vw-xs-90{
    width: 90vw;
}

.vw-xs-85{
    width: 85vw;
}

.mw-32rem{
    max-width: 32rem;
}

.mw-30rem{
    max-width: 30rem;
}

.p-xs-1{
    padding: 1rem;
}

.sobreMi, .proyectos{
    padding: 10px;
    padding-bottom: 10px;
}

.sobreMi>h1, .proyecto>h1{
    font-family: 'Luxia';
    margin-bottom: 20px;
}

/* Social links */

.navigation > ul{
    padding-left: 0px;
    position: relative;
}

.list{
    position: relative;
    list-style: none;
    width: 50px;
    z-index: 1;
}

.list a{
    position: relative;
    text-decoration: none;
    color: black !important;
}

.navigation ul li a .icon{
    position: relative;
    line-height: 75px;
    transition: 0.5s;
}

.navigation ul li a .icon img{
    position: relative;
    width: 30px;
    height: 30px;
}

.navigation ul li.active a .icon{
    transform: translateY(-6px);
}
.navigation ul li.active a .icon img{
    width: 20px;
    height: 20px;
}

.navigation ul li a .text{
    position: absolute;
    font-size: 12px;
    bottom: 10px;
    font-weight: 400;
    transition: 0.25s;
    text-transform: uppercase;
    transform: scale(0);
}

.navigation ul li:hover a .text{
    transform: scale(1);
}

.indicator{
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    transition: 0.5s;
}

.navigation ul li:nth-child(1).active ~ .indicator {
    background-color: #2271b3;
    box-shadow: 0 15px 25px #2271b399;
    transform: translateX(calc(80px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    background-color: #f53b57;
    box-shadow: 0 15px 25px #f53b5799;
    transform: translateX(calc(81px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    background-color: #ffa801;
    box-shadow: 0 15px 25px #ffa80199;
    transform: translateX(calc(82px * 2));
}

.proyectos a{
    text-decoration: none;
}

.misHabilidades{
    font-family: 'Luxia';
}

.cjzNGz:hover:enabled, .cjzNGz:focus:enabled, .rec-dot_active{
    background-color: #2271b3 !important;
}

.backgroundHome{
    font-family: 'Luxia';
    background-image: url(./img/IvanResponsive.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.backgroundRoca{
    background-image: url(./img/roca.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.backgroundStucom{
    background-image: url(./img/stucom.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.backgroundInformaticoh{
    background-image: url(./img/Informaticoh.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.backgroundBadalona{
    background-image: url(./img/badalonaServeisAssistencials.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.elementoCarrousel{
    width: 150px;
    height: 150px;
    color: #fff;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 5px solid #2271b3;

}

.elementoCarrousel>img{
    width: 100px;
}

/* Contact Form */

.wrap{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.box{
	font-size: 1.2em;
	line-height: 1.6em;
  text-align: center;
}
/*screen resolutions lower than 620px*/
@media all and (max-width: 1180px){
	.wrap{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	}
}


#section h2{
	margin-bottom: 50px;
  position: relative;
  display: block;
}
#section p a{
	color: #2271b3;
  text-decoration: none;
}
#section .wrap {
	text-align: center;
	width: 100%;
}
#section .box{
	text-align: center;
	margin: 5% 0 0 0;
	width: 100%;
}

.contact-form {
  width: 50%;
  margin: 0 auto;
  padding: 40px;
}
.contact-form .input-block {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #2271b3;
  margin: 0;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.contact-form .input-block.focus {
  
}
.contact-form .input-block.textarea {
  height: auto;
}
.contact-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
}
.contact-form .input-block label {
  position: absolute;
  left: 10px;
  top: 25px;
  display: block;
  margin: 0;
  font-weight: 400;
  z-index: 1;
  color: #aaa;
  font-size: 18px;
  line-height: 10px;
}
.contact-form .input-block .form-control {
  background-color: transparent;
  margin: 0;
  outline: none;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
    padding: 30px 10px;
  width: 100%;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #333;
}
.contact-form .input-block .form-control:focus label {
  top: 0;
}
.contact-form .square-button {
  background-color: #2271b3;
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.contact-form .square-button:hover, .contact-form .square-button:focus {
  background-color: #2271b3;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  transform: translateY(-4px);
}

@media (min-width: 768px) {
  .contact-wrap {
    margin: auto;
  }
}
@media (max-width: 868px) {
	.contact-form {
	  width: 100%;
	  padding: 40px;
	}
}
@media (max-width: 568px) {
	.contact-form {
	  padding: 10px;
	}
}
/*----page styles---*/

.contact-wrap {
  padding: 15px;
  background: #ecf0f1;
}
.contact-wrap h1 {
  background-color: white;
  color: #ff7c62;
  padding: 40px;
  margin: 0 0 50px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.contact-wrap h1 small {
  font-size: 18px;
  display: block;
  text-transform: none;
  font-weight: 300;
  margin-top: 10px;
  color: #ff7c62;
}

@font-face {
    font-family: "Luxia";
    src: url("./fonts/Luxia-Display.otf") format("otf"),
      url("./fonts/Luxia-Regular.otf") format("otf");
    font-weight: bold;
    font-display: swap;
  }

/* Estilos con breakpoints */

@media (min-width: 576px){
    .vw-ms-90{
        width: 90vw;
    }
    
    .vw-ms-85{
        width: 85vw;
    }

    .p-ms-1{
        padding: 1rem;
    }

    .backgroundHome{
        background-image: url(./img/Ivan.jpg);
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
    }
}

@media (min-width: 768px){
    .vw-md-70{
        width: 70vw;
    }
    
    .vw-md-60{
        width: 60vw;
    }

    .p-md-3{
        padding: 3rem;
    }
}
