/* HEADER */
/* Header sobre el resto de elementos, ancho maximo */
#Header{
    width: 100%;
}

/* Header transparente */
.navbar{
    background-color: rgba(0,0,0,0.0)
}

/* Links negros y sin subrayado */
.navbar .navbar-nav .nav-link a{
    color: black;
    text-decoration: none;
}

.dropdown .dropdown-item a{
    color: black;
    text-decoration: none;
}

/* Dropdown a la derecha */
.dropdown{
    float: right;
}

/* Mover el pop up del dropdown para que no se salga de la pantalla */
.dropdown-menu[data-bs-popper]{
    left: -95px !important;
}

/* HOME */

/* Quitar el padding de la columna del banner de home*/
#columnaBannerHome{
    padding: 0px;
}

/* Banner de home ocupa toda la pantalla */
#bannerHome, #bannerHome img{
    width: 100vw;
    height: 100vh;
}

/* Enviar atras al Banner*/
#bannerHome img{
    z-index: -1;
}


/* Estilos con breakpoints */
@media (min-width: 576px){
    .position-sm-absolute{
        position: absolute !important;
    }
}
