/* HEADER */
/* Header sobre el resto de elementos, ancho maximo */
#Header{
    width: 100%;
}

/* Header transparente */
.navbar{
    background-color: rgba(0,0,0,0.0)
}

/* Links negros y sin subrayado */
.navbar .navbar-nav .nav-link a{
    color: black;
    text-decoration: none;
}

.dropdown .dropdown-item a{
    color: black;
    text-decoration: none;
}

/* Dropdown a la derecha */
.dropdown{
    float: right;
}

/* Mover el pop up del dropdown para que no se salga de la pantalla */
.dropdown-menu[data-bs-popper]{
    left: -95px !important;
}

/* HOME */

/* Enviar atras al Banner*/
.z-index-1{
    z-index: -1;
}

.vh-40{
    height: 40vh;
}

.vw-xs-90{
    width: 90vw;
}

.vw-xs-85{
    width: 85vw;
}

.mw-32rem{
    max-width: 32rem;
}

.mw-30rem{
    max-width: 30rem;
}

.p-xs-1{
    padding: 1rem;
}

.sobreMi, .proyectos{
    padding: 50px;
}

.sobreMi>h1, .proyecto>h1{
    margin-bottom: 20px;
}

.proyectos a{
    text-decoration: none;
}

.backgroundHome{
    background-image: url(./img/IvanResponsive.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.backgroundRoca{
    background-image: url(./img/roca.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.backgroundStucom{
    background-image: url(./img/stucom.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.backgroundInformaticoh{
    background-image: url(./img/Informaticoh.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.backgroundBadalona{
    background-image: url(./img/badalonaServeisAssistencials.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.backgroundTtrchile{
    background-image: url(./img/trrchile.PNG);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.backgroundModballs{
    background-image: url(./img/Modballs.PNG);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

/* Estilos con breakpoints */

@media (min-width: 576px){
    .vw-ms-90{
        width: 90vw;
    }
    
    .vw-ms-85{
        width: 85vw;
    }

    .p-ms-1{
        padding: 1rem;
    }

    .backgroundHome{
        background-image: url(./img/Ivan.jpg);
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
    }
}

@media (min-width: 768px){
    .vw-md-70{
        width: 70vw;
    }
    
    .vw-md-60{
        width: 60vw;
    }

    .p-md-3{
        padding: 3rem;
    }
}
